root = true

[*]
tab_width = 4
charset = utf-8

indent_size = 4
indent_style = space

insert_final_newline = true
trim_trailing_whitespace = true

[*.{gradle,java}]
indent_style = tab

[*.md]
trim_trailing_whitespace = false
